type ta_qmi_client, domain;
type ta_qmi_client_exec, exec_type, file_type;

init_daemon_domain(ta_qmi_client)

# Wakelocks
wakelock_use(ta_qmi_client)

# Connect to tad and qmuxd
unix_socket_connect(ta_qmi_client, tad, tad)
qmux_socket(ta_qmi_client)
